<section class="post-form">
  <div class="user-color" style="--color: {{ user['hex_color'] }}"></div>
  <form action="/posts" method="post" id="post-form">
    <div class="field">
      <div class="control">
        <input
          type="text"
          name="content"
          id="content"
          autocomplete="off"
          placeholder="What's on your mind, {{ user['first_name' ]}}?"
          class="input"
        />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button" id="submit-button"><span class="has-icon"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/></svg>Post</span></button>
      </div>
    </div>
  </form>
  <template id="post-template">
    <article class="post">
      <div class="post__header">
        <div class="color" style="--color: {{ user['hex_color'] }}"></div>
        <h3 class="name">{{ user['first_name' ]}} {{ user['last_name' ]}}</h3>
        <div class="time-created">
          just now
        </div>
      </div>
      <div class="post__content"></div>
      <div class="post__textarea">
        <textarea class="textarea" rows="2"></textarea>
      </div>
      <div class="post__footer">
        <div class="buttons">
          <button class="button-gray has-icon button--edit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M6.414 16L16.556 5.858l-1.414-1.414L5 14.586V16h1.414zm.829 2H3v-4.243L14.435 2.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L7.243 18zM3 20h18v2H3v-2z"/></svg><span class="button--edit__label">Edit</span></button>
          <form action="/posts/delete/POST_ID" method="post">
            <button class="button-gray has-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zm-9 3h2v6H9v-6zm4 0h2v6h-2v-6zM9 4v2h6V4H9z"/></svg> Remove</button>  
          </form>
        </div>
      </div>
    </article>
  </template>
</section>